body{
    background-color: aqua;
    padding:2px;
    margin: auto;
    width:100%
}

#main-nav{
    background-color: greenyellow;
    color: white;
    text-align: center;
}

#main-nav li:hover{
    background-color: beige;
    color: black;
}

#main-nav ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
}

#name:focus{
    width:40%;
}

.main-area{
    width:100%;
    float: left;
    margin: 0;
}

.content-box-1{
    background-color: blueviolet;
    float: left;
    width: 70%;
    color: pink;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.more-content{
    background-color: blanchedalmond;
    float: right;
    width: 25%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
}

.more-content:hover{
    background-color: brown;
}

#bar{
    background-color: black;
    color: white;
    font-size: 15pt;
    padding: 3px;
    text-align: center;
    clear: both;
}